@use '../abstracts';

.footer {
    margin-top: 50px;

    @include abstracts.screen(sm) {
        margin-top: 120px;
    }

    &-top {
        @include abstracts.create-top-bar(0, 32) {
            @include abstracts.screen(md) {
                --emoji-height: 100px;
                --emoji-width: var(--emoji-height);

                --padding-top-value: var(--emoji-height);
                --padding-bottom-value: 57px;

                flex-direction: column-reverse;
                justify-content: initial;
                gap: 48px;

                height: auto;
            }
        }
    }

    .logo {
        &__img-wrap {
            @include abstracts.screen(md) {
                --logo-circle-width: 46px;
            }
        }
    }

    .emoji {
        &-wrap {
            @include abstracts.screen(md) {
                top: 0;
            }
        }
    }

    .navbar {
        @include abstracts.screen(sm) {
            margin-top: 10px;
        }

        &__list {
            @include abstracts.screen(md) {
                gap: 50px;
            }

            @include abstracts.screen(sm) {
                gap: 38px;
            }
        }

        &__link {
            @include abstracts.screen(md) {
                display: block;

                padding: 10px 0;

                font-size: 1.8rem;
                line-height: 1.5;
            }

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
                line-height: 1.25;
            }
        }
    }

    &__bottom {
        --text-color: rgba(82, 87, 113, 0.6);

        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-around;

        padding: 18px 0 30px;

        color: var(--text-color);
        font-size: 1.8rem;
        line-height: 166.667%;

        @include abstracts.screen(lg) {
            font-size: 1.6rem;
        }

        @include abstracts.screen(md) {
            flex-direction: column-reverse;
            justify-content: initial;
            gap: 49px;

            padding-top: 0;

            font-size: 1.8rem;
        }
    }

    &__separate {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 1px;
        background-color: rgba(12, 7, 32, 0.2);

        @include abstracts.screen(md) {
            top: 59px;
        }
    }

    &__policy-terms {
        display: flex;
        gap: 36px;
    }

    &__policy {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            right: -23px;

            width: 1px;
            height: 14px;
            background-color: var(--text-color);
        }
    }
}

.container--big {
    padding-left: 0;
    padding-right: 0;
}
