@use '../abstracts';

.achievements {
    margin-top: 140px;

    @include abstracts.screen(sm) {
        margin-top: 120px;
    }

    &-wrap {
        position: relative;

        padding-bottom: 375px;

        @include abstracts.screen(lg) {
            padding-bottom: 250px;
        }

        @include abstracts.screen(sm) {
            padding-bottom: 202px;
        }
    }

    &__intro-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;

        @include abstracts.screen(sm) {
            gap: 4px;
        }
    }

    &__intro {
        color: var(--primary-color);
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -1.28px;

        @include abstracts.screen(lg) {
            font-size: 2.5rem;
            line-height: 1.6;
        }

        @include abstracts.screen(sm) {
            font-size: 2rem;
            line-height: 2;
            letter-spacing: -0.8px;
        }
    }

    &__hand-icon {
        --divided-number: 1;

        width: calc(30px / var(--divided-number));
        height: calc(30px / var(--divided-number));
        object-fit: contain;

        @include abstracts.screen(lg) {
            --divided-number: 1.4;
        }

        @include abstracts.screen(sm) {
            --divided-number: 1.666666667;
        }
    }

    &__heading {
        margin-top: 10px;

        font-size: 5.6rem;
        font-weight: 500;
        line-height: 1.17857;
        letter-spacing: -2.24px;
        text-align: center;

        @include abstracts.screen(lg) {
            font-size: 4rem;
        }

        @include abstracts.screen(sm) {
            font-size: 3.6rem;
            line-height: 1.16667;
            letter-spacing: -1.44px;
        }
    }

    &__desc {
        width: 570px;
        margin: 15px auto 0;

        color: var(--desc-text-color);
        font-size: 1.8rem;
        line-height: 1.66667;
        text-align: center;

        @include abstracts.screen(lg) {
            font-size: 1.7rem;
            line-height: 1.411764706;
        }

        @include abstracts.screen(md) {
            width: initial;
        }

        @include abstracts.screen(sm) {
            margin-top: 20px;

            font-size: 1.6rem;
            line-height: 1.625;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 156px;

        width: 946px;
        margin: 70px auto 0;
        padding: 20px 0;
        border-top: 1px solid rgba(8, 4, 21, 0.2);
        border-bottom: 1px solid rgba(8, 4, 21, 0.2);

        @include abstracts.screen(lg) {
            gap: 80px;

            width: initial;
            margin-top: 50px;

            font-size: 4rem;
        }

        @include abstracts.screen(sm) {
            gap: 50px;

            padding: 30px 0;
        }
    }
}

.achievement {
    @include abstracts.screen(sm) {
        flex: none;

        width: 83px;

        &:first-of-type {
            order: 2;
        }

        &:nth-of-type(2) {
            order: 1;
        }

        &:last-of-type {
            order: 3;
        }
    }

    &__number {
        font-size: 5.6rem;
        font-weight: 500;
        line-height: 1.35714;
        letter-spacing: 1.68px;
        text-decoration-line: underline;

        @include abstracts.screen(lg) {
            font-size: 4rem;
            line-height: 1.375;
        }

        @include abstracts.screen(sm) {
            font-size: 3rem;
            line-height: 1.4;
            letter-spacing: 0.9px;
        }
    }

    &__info {
        color: var(--desc-text-color);
        font-size: 1.8rem;
        line-height: 1.66667;

        @include abstracts.screen(lg) {
            font-size: 1.7rem;
            line-height: 1.470588235;
        }

        @include abstracts.screen(sm) {
            margin-top: 5px;

            font-size: 1.6rem;
            line-height: 1.375;
        }
    }
}

.intro-video {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -323px;
    bottom: calc(var(--lower-half-video-length) * -1);

    width: 100%;

    &__img {
        --divided-number: 1;

        display: block;

        width: 100%;
        height: calc(628px / var(--divided-number));
        object-fit: cover;

        @include abstracts.screen(lg) {
            --divided-number: 1.6;
        }

        @include abstracts.screen(sm) {
            --divided-number: 2.275362319;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    &__btn-img {
        --divided-number: 1;

        width: calc(111px / var(--divided-number));
        height: calc(111px / var(--divided-number));
        object-fit: contain;

        @include abstracts.screen(lg) {
            --divided-number: 1.3;
        }

        @include abstracts.screen(md) {
            --divided-number: 1.4;
        }

        @include abstracts.screen(sm) {
            --divided-number: 1.441558442;
        }
    }

    &__desc {
        position: absolute;
        right: 10px;
        bottom: 10px;

        padding: 16px 29px;
        background-color: var(--body-background-color);

        color: var(--desc-text-color);
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.66667;
        text-transform: uppercase;

        @include abstracts.screen(lg) {
            padding: 10px 21px;

            font-size: 1.6rem;
            line-height: 1.875;
        }

        @include abstracts.screen(sm) {
            padding: 7px 21px;

            font-size: 1.2rem;
            line-height: 2.5;
        }
    }
}
