@use '../abstracts';

.atmosphere {
    margin-top: 160px;

    @include abstracts.screen(lg) {
        margin-top: 140px;
    }

    @include abstracts.screen(sm) {
        margin-top: 120px;
    }

    &__heading {
        text-align: center;
        font-size: 5.6rem;
        font-weight: 500;
        line-height: 117.857%;
        letter-spacing: -2.24px;

        @include abstracts.screen(lg) {
            font-size: 4rem;
            line-height: 1.15;
            letter-spacing: -1.44px;
        }

        @include abstracts.screen(sm) {
            font-size: 3.6rem;
            line-height: 116.667%;
            letter-spacing: -1.44px;
        }
    }

    &__desc {
        width: 528px;
        margin: 20px auto 0;

        text-align: center;
        color: var(--desc-text-color);
        font-size: 1.8rem;
        line-height: 166.667%;

        @include abstracts.screen(lg) {
            font-size: 1.7rem;
        }

        @include abstracts.screen(sm) {
            width: 350px;

            font-size: 1.6rem;
            line-height: 162.5%;
        }
    }

    &__email {
        display: block;

        margin: 30px 0 70px;

        text-align: center;
        color: var(--primary-color);
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -1.28px;
        text-decoration-line: underline;

        @include abstracts.screen(lg) {
            font-size: 2.5rem;
            letter-spacing: -0.68px;
        }

        @include abstracts.screen(sm) {
            margin: 10px 0 60px;

            font-size: 2rem;
            line-height: 2;
            letter-spacing: -0.8px;
        }
    }

    &__list-wrap {
        overflow: hidden;
    }

    &__list {
        @include abstracts.screen(lg) {
            --grid-gutter-x: 10px;
        }

        @include abstracts.screen(sm) {
            --grid-gutter-x: 0;

            flex-wrap: nowrap;

            margin-bottom: 40px;

            transition: transform 1s;
        }
    }

    &__img {
        --divided-number: 1;

        width: 100%;
        height: calc(529px / var(--divided-number));
        object-fit: cover;

        @include abstracts.screen(lg) {
            --divided-number: 1.5;
        }

        @include abstracts.screen(sm) {
            --divided-number: 1.051689861;
        }
    }
}
