@use '../abstracts';

.btn {
    height: 62px;
    padding: 16px 37px;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
    user-select: none;

    @include abstracts.screen(xl) {
        padding: 12px 22px;

        font-size: 1.7rem;
        line-height: 1.875;
    }

    @include abstracts.screen(lg) {
        font-size: 1.5rem;
    }

    @include abstracts.screen(sm) {
        padding: 12px 32px;

        font-size: 1.6rem;
        line-height: 1.875;
    }

    &--primary {
        background: var(--primary-color);
        color: #fdfdfd;
    }

    &--white {
        background-color: var(--body-background-color);
    }
}
