@use '../abstracts';

.navbar {
    &__list {
        display: flex;
        align-items: center;
        gap: 43px;

        @include abstracts.screen(xl) {
            gap: 20px;
        }

        @include abstracts.screen(lg) {
            gap: 10px;
        }
    }

    &__link {
        color: var(--desc-text-color);
        font-size: 1.8rem;
        line-height: normal;

        &:hover {
            text-decoration: underline;
        }

        @include abstracts.screen(lg) {
            font-size: 1.5rem;
        }
    }
}
