@use '../abstracts';

.questions {
    margin-top: 95px;

    @include abstracts.screen(sm) {
        margin-top: 120px;
    }

    &__heading {
        width: 575px;

        font-size: 5.6rem;
        font-weight: 500;
        line-height: 117.857%;
        letter-spacing: -2.24px;

        @include abstracts.screen(lg) {
            width: 427px;

            font-size: 4rem;
            line-height: 1.25;
        }

        @include abstracts.screen(sm) {
            width: 316px;

            font-size: 3.6rem;
            line-height: 116.667%;
            letter-spacing: -1.44px;
        }
    }

    &__list {
        margin-top: 80px;

        @include abstracts.screen(lg) {
            margin-top: 60px;
        }

        @include abstracts.screen(md) {
            margin-top: 50px;
        }

        @include abstracts.screen(sm) {
            margin-top: 42px;
        }
    }
}

.question {
    position: relative;

    padding: 0 0 33px 22px;
    border-bottom: 2px solid #08182f;

    transition: border 0.5s;

    @include abstracts.screen(lg) {
        padding-bottom: 20px;
        padding-left: 15px;
    }

    @include abstracts.screen(sm) {
        padding-bottom: 15px;
        padding-left: 11px;
    }

    & + & {
        margin-top: 60px;

        @include abstracts.screen(lg) {
            margin-top: 50px;
        }

        @include abstracts.screen(md) {
            margin-top: 40px;
        }
    }

    &__heading {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -1.28px;

        transition: color 0.5s;

        @include abstracts.screen(lg) {
            width: 350px;

            font-size: 2.8rem;
        }

        @include abstracts.screen(sm) {
            width: 264px;

            font-size: 2.4rem;
            letter-spacing: -0.96px;
        }
    }

    &__answer {
        display: none;
        opacity: 0;

        width: 487px;
        margin-top: 23px;

        color: var(--desc-text-color);
        font-size: 1.8rem;
        line-height: 166.667%;

        transition: opacity 0.5s, display 0.2s allow-discrete;

        @starting-style {
            display: none;
            opacity: 0;
        }

        @include abstracts.screen(lg) {
            margin-top: 18px;

            font-size: 1.7rem;
        }

        @include abstracts.screen(sm) {
            width: 316px;
            margin-top: 15px;

            font-size: 1.6rem;
            line-height: 1.625;
        }
    }

    &__switch-button {
        --divided-number: 1;

        position: absolute;
        top: 12px;
        right: 0;

        width: calc(50px / var(--divided-number));
        height: calc(50px / var(--divided-number));
        border-radius: 50%;

        overflow: hidden;

        transition: top 0.5s;

        @include abstracts.screen(lg) {
            --divided-number: 1.3;

            top: 8px;
        }

        @include abstracts.screen(md) {
            top: 0;
        }

        @include abstracts.screen(sm) {
            --divided-number: 1.515151515;

            right: 10px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: contain;

        &--active {
            display: none;
        }
    }

    &--active {
        padding-bottom: 21px;
        border-color: var(--primary-color);

        @include abstracts.screen(lg) {
            padding-bottom: 18px;
        }

        @include abstracts.screen(sm) {
            padding-bottom: 15px;
        }

        .question__heading {
            color: var(--primary-color);
        }

        .question__answer {
            display: block;
            opacity: 1;
        }

        .question__switch-button {
            top: 35px;

            @include abstracts.screen(lg) {
                top: 25px;
            }

            @include abstracts.screen(md) {
                top: 10px;
            }

            @include abstracts.screen(sm) {
                top: 0;
            }
        }

        .question__icon {
            display: none;
        }

        .question__icon.question__icon--active {
            display: initial;
        }
    }
}
