:root {
    --body-background-color: #fff;
    --primary-color: #5d3bee;
    --header-bg-color: #fbfaff;
    --main-text-color: #080415;
    --desc-text-color: #51586a;
    --sidebar-bg: var(--body-background-color);
}
