:root {
    --body-background-color: #fff;
    --primary-color: rgb(93, 59, 238); // #5d3bee
    --header-bg-color: #fbfaff;
    --main-text-color: rgb(8, 4, 21); // #080415
    --desc-text-color: #51586a;
    --sidebar-bg: var(--body-background-color);
}
