@use '../abstracts';

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --emoji-width: 100px;
    --emoji-height: var(--emoji-width);
    --lower-half-video-length: 323px;

    @include abstracts.screen(lg) {
        --lower-half-video-length: 200px;
    }

    @include abstracts.screen(sm) {
        --lower-half-video-length: 114px;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--body-background-color);
    color: var(--main-text-color);
}

a,
button,
input,
select,
textarea {
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

button,
input,
select,
textarea {
    padding: 0;
    font-family: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

%higher-z-index {
    --z-index-value: 1;

    position: relative;
    z-index: var(--z-index-value);
}

.line-clamb {
    --number-of-lines: 1;

    display: -webkit-box;
    -webkit-line-clamp: var(--number-of-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.transition-none {
    transition: none !important;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
